/* body{
  background-color: rgb(63, 62, 63);
} */
.content {
  row-gap: 50px;
  column-gap: 10px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.card {
  /* background-color: rgb(26, 24, 26);
  color: white; */
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  height: min-content;
  font-size: small;
  /* text-align: center; */
   /* box-shadow: 1px 2px rgb(70, 58, 58); */
   overflow: hidden;

   border: 7px solid rgb(70, 58, 58); 
}
.card img{

  object-fit: cover;
  width: 100%;
  height:400px;
  margin-top: 30px;
  border: 2px solid white;
  
}
/* .card:hover{
  background-color: rgb(39, 39, 32);
} */
Button{
  width: 100%;
}
.heading{
  text-align: center;
  /* color: white; */
  /* color:rgb(109, 33, 133); */
}

.snippet{
  border: 6px solid rgb(218, 206, 219);
  background-color: white;
  /* color:black; */
  margin: 15px;
  padding: 5px;
  font-size: medium;
  border-radius: 10px;
}
.table{
  margin: 1px;
  /* border: 1px solid brown; */
}
/* .Fab-button{
  background-color: brown;
  color: white;
} */


/* .badge{
  padding:3px 13px;
  text-align: center;
  border: 1px solid red;
  border-radius: 50px;
}
.badge:hover{
  background-color: brown;
} */
/* .p-5{
  padding-top: 5px;
  text-align: center;
} */

.flex-row{
  display: flex;
  flex-direction: row;
  gap:10px;
  flex-wrap: wrap;
}


.form{

 text-align: center;
 width: 80%;
 padding: 20px;
 /* background-color: rgb(229, 233, 243);
 border:4px solid black; */
 /* box-shadow: 1px 2px gray; */
}
.form-labels{
  float:left;
  margin: 0% 1%;
  padding-bottom: 15px;
  font-size: small;
  /* color: rgb(109, 33, 133); */
  /* color: gray; */
}
.textbox{
  width: 98%;
  padding: 12px 20px;
  margin: 8px 5px;
  box-sizing: border-box;
}

.notfoundimage{
  width: 100%;
}
.mainflex{
  margin-left: 5%;
}
.rating{
  size: 200px;
  margin: 20px;
}

@media(max-width:600px){
 .form{
   margin:2% 4% ;
 }
 .boardimg{
  margin: 0px;
  width: 100%;
  height: 420px;
  object-fit: cover;
}

}
@media(min-width:601px){
  .form{
    margin:2% 6% ;
  }
  .boardimg{
    margin: 0px;
    width: 80%;
    height: 500px;
    object-fit: cover;
  }
  
}
.link{
  cursor: pointer;
  text-decoration: underline;
  color:lawngreen;
  /* background-color: palevioletred; */
}

.background-image1{
  background: url("https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?b=1&k=20&m=1155240408&s=170667a&w=0&h=xQCZ2QB1TS81T4X0W2tEYDBrkEX4z-wuMYRFvvqg1Qk=");
  filter:contrast(75%);
  background-repeat: no-repeat;
  background-size: 1150px 500px;
}
.background-image2{
  filter:contrast(75%);
  background: url("https://c4.wallpaperflare.com/wallpaper/869/719/717/cuisine-food-india-indian-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: 1150px 500px;
  
}
.background-image3{
  filter:contrast(75%);
  background: url("https://wallpaperaccess.com/full/3973009.jpg");
  background-repeat: no-repeat;
  background-size: 1150px 500px;
  
}
.background-image4{
  /* filter:contrast(75%); */
  background: url("https://wallpaperaccess.com/full/438099.jpg");
  background-repeat: no-repeat;
  background-size: 1150px 500px;
  
}

.error{
  color: rgb(185, 78, 78);
  background-color: rgb(209, 136, 160);
  border: 1px solid rgb(185, 78, 78);
  padding: 6px;
  margin: 25px;
  border-radius: 5px;
}
